<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Congo</title>
    @* Most styling done in Bootstrap *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        @* Classic ASP.Net MVC navbar--gives the overall webpage a clean, sophisticated look *@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Congo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @* Don't currently need a Privacy page up, but it may be useful in further assignments. *@
                        @*<li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="card p-3" style="width: 35rem; margin: 1rem;">
                    <div class="text-center">
                        <h1 class="display-4">Congo</h1>
                        <p>Welcome to Congo, where books are as plentiful as the trees in the second-largest rainforest in the world.</p>
                        <small>(The first was already taken.)</small>
                        @* For those of you who don't get it, this is referring to Amazon. ;) *@
                        <br />
                    </div>
                </div>
             </div>
             <div class="col-md">
                 @* Insert category menu using View Component method *@
                <vc:nav-menu />
             </div>
            </div>
        <div class="row">
            @* Render HTML written on individual (non-shared) Views such as Index.cshtml *@
            @RenderBody()
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Congo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @* Scripts placed at the end so they run only after the page has completely loaded. *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
