@model IEnumerable<string>

    <nav class="navbar navbar-default navbar-expand-lg">
        <div class="container-fluid">
            <ul class="nav navbar-nav m-3">
                <li>
                    <a class="btn btn-block btn-outline-secondary nav-item "
                       asp-action="Index"
                       asp-controller="Home"
                       asp-route-category="">
                        All
                    </a>
                </li>
                @foreach (string category in Model)
                {
                <li>
                    @* Dynamically highlight the category that has been selected *@
                    <a class="btn btn-block nav-item @(category == ViewBag.ActiveCategory ? "btn-primary" : "btn-outline-secondary")"
                        asp-action="Index"
                        asp-controller="Home"
                        asp-route-category="@category"
                        asp-route-pageNum="1">
                        @category
                    </a>
                </li>
                }
            </ul>
        </div>
    </nav>