@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel




<div class="container">
    <div class="row">
        @* Populate Index page with full list of books *@
        @foreach (var x in Model.Books)
        {
            <partial name="BookSummary" model="x" />
        }
    </div>
    @* Implemented our own tag helpers to dynamically create the links to different pages *@
    <div page-model="@Model.PagingInfo" page-action="Index"
         page-classes-enabled="true"
         page-class="btn"
         page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary"
         page-url-category="@Model.Category"
         class="btn-group pull-right m-1"></div>
</div>


